<div class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-dark rounded shadow-sm">
      <img class="me-3" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-white.svg" alt="" width="48" height="38">
      <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1">Menagemen Pengguna</h1>
        <small>Since 2011</small>
      </div>
    </div>
  
    <div class="my-3 p-3   rounded text-white bg-secondary shadow-sm">
        <div class="row row-cols-md-2 justify-content-between border-bottom align-items-center p-2">
            <h6 class=" pb-2 mb-0">Form Dan Informasi Pengguna</h6>
            <div class="btn-group" style="max-width: 400px;">
                <button class="btn btn-light {{(dform.on?'active':'')}}" aria-current="page" (click)="changeForm()">Form</button>
                <button class="btn btn-light {{(!dform.on?'active':'')}}">Informasi</button> 
            </div>
        </div>
       <div *ngIf="dform.on" class="row row-cols-1 row-cols-md-2  m-2">
            <div class="col">
                <div class=" ">
                    <label for="firstName" class="form-label">Pilih Kabupaten / Kota</label>
                    <div class="btn-group container-fluid pb-2 " style=" padding-left: 0px; padding-right: 0px;">
                        <button class="btn btn-light dropdown-toggle show" (click)="filterDropdown('')"
                        type="button" id="dropdownMenuClickableOutside" data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="true">
                        
                        <label *ngIf="!selectedValue">Pilih Kabupaten</label>
                        <label *ngIf="selectedValue">{{selectedValue.nmKab}}</label>
                        
                        </button>  
                        <ul class="dropdown-menu container-fluid " aria-labelledby="dropdownMenuClickableOutside" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 40px);">
                        <li>
                            <input type="text" class="w-100 p-2 searchInput" placeholder="Nama Kab..." (change)="filterDropdown('bgs')"    [formControl]="search">
                        </li> 
                        <li>
                            <a *ngFor="let option of filteredList; let i=index" class="dropdown-item pointer text-contain"
                            [ngClass]="{'alternateBackground': i%2 == 0 }" (click)="selectValue(i)">
                            {{option.nmKab}}
                            </a>
                        </li>
                        <li  *ngIf="filteredList.length <=0">No expert found</li>
                        </ul>
                    </div> 
                </div>
                <div class=" ">
                    <label for="firstName" class="form-label">Pilih Role Access</label>
                    <select class="form-select mb-2" [value]="kdRA"  aria-label="Default select example" (change)="onchanged($event)">
                        <option value="">Belum dipilih</option>
                        <option *ngFor="let option of drole; let i=index" value="{{option.kdRA}}">
                            {{option.nmRA}}
                        </option> 
                    </select>
                </div>
                <div class=" ">
                    <label for="firstName" class="form-label">Nama Pengguna</label>
                    <div class="form-floating pb-2">
                        <input type="text" class="form-control" id="floatingInput" [formControl]="nama"  placeholder="Bagus H">
                        <label for="floatingInput">Nama</label>
                    </div>
                </div>
                
            </div>
            <div class="col ">  
                <div class=" ">
                    <label for="firstName" class="form-label">Username Akun</label>
                    <div class="form-floating pb-2">
                        <input type="number" class="form-control" id="floatingInput" [formControl]="username"  placeholder="12344222">
                        <label for="floatingInput">Username</label>
                    </div>
                </div>
                <div class=" ">
                    <label for="firstName" class="form-label">Password Akun</label>
                    <div class="form-floating pb-2">
                        <input type="password" class="form-control" id="floatingInput" [formControl]="pass"  placeholder="12344222">
                        <label for="floatingInput">Password</label>
                    </div>
                </div> 
                <button *ngIf="dform.ins && user1" class="w-100 btn btn-lg btn-primary" (click)="addUser()">Tambah Pengguna</button>
                <button *ngIf="!dform.ins" class="w-100 btn btn-lg btn-warning" (click)="_dataUpdateed()">Perbarui Data</button>
            </div>
        </div>
        <div *ngIf="!dform.on" class="row row-cols-1 row-cols-md-2  m-2">
            <div class="col">
                <div class="form-floating pb-2">
                    <input type="email" class="form-control" value="{{duser[dform.idt].nmProv}}" disabled id="floatingInput">
                    <label for="floatingInput">Nama Provinsi</label>
                </div>
                <div class="form-floating pb-2">
                    <input type="email" class="form-control" value="{{duser[dform.idt].nmKab}}" disabled id="floatingInput">
                    <label for="floatingInput">Nama Kabupaten</label>
                </div>
                <div class="form-floating pb-2">
                    <input type="email" class="form-control" value="{{getValueRole(duser[dform.idt].kdRA)}}" disabled id="floatingInput">
                    <label for="floatingInput">Role Access</label>
                </div>
            </div>
            <div class="col ">  
                <div class="form-floating pb-2">
                    <input type="text" class="form-control" value="{{duser[dform.idt].nama}}" disabled id="floatingInput">
                    <label for="floatingInput">Nama</label>
                </div>
                <div class="form-floating pb-2">
                    <input type="number" class="form-control" value="{{duser[dform.idt].username}}" disabled id="floatingInput">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating pb-2">
                    <input type="text" class="form-control" value="{{duser[dform.idt].pass}}" disabled id="floatingInput">
                    <label for="floatingInput">Password</label>
                </div>
            </div>
        </div>
    </div>
  
    <div class="my-3 text-white rounded shadow bg-dark">
      <h6 class="border-bottom  p-3 pb-2 mb-2" style="border-color: rgb(78, 131, 141) !important;"><b>Data Pengguna</b></h6>
        <div class="row row-cols-md-2 justify-content-between border-bottom align-items-center p-2">
            
            <div class="col">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-info">Informasi</button>
                    <button type="button" class="btn btn-warning">Perbarui</button>
                    <button *ngIf="user1" type="button" class="btn btn-danger">Hapus</button> 
                </div>
            </div>
            <div class="col">
                <div class="form-floating pb-2">
                    <input type="email" class="form-control text-dark" id="floatingInput" [formControl]="search"  placeholder="search">
                    <label for="floatingInput">Search</label>
                </div>
            </div>
        </div>
      <table class="table  " style="overflow: auto; height: 100px;">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Kabupaten</th>
            <th scope="col">Nama</th>
            <th scope="col">Username</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let v of duser; let i=index" >
                <th scope="row">{{i+1}}</th>
                <td>{{v.nmKab}}</td>
                <td>{{v.nama}}</td>
                <td>{{v.username}}</td>
                <td>
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-info" (click)="_informasi(i)"><i class="bi bi-info-circle"></i></button>
                        <button type="button" class="btn btn-warning" (click)="_dataUpdate(i)"><i class="bi bi-pencil-square"></i></button>
                        <button *ngIf="user1" type="button" class="btn btn-danger" (click)="_dataDelete(i)"><i class="bi bi-trash3-fill"></i></button> 
                    </div>
                </td>
            </tr>
        </tbody>
      </table>
    </div> 
    
</div>